h1{
  color:purple;
  border:3px solid #4DA19D ;
}
img{
  width:300px;
}  
img{
  width:240px;
}
h2{
  color:purple;
  }
#chicken{
  position: fixed;
  top:10%;
  right:78% ;
  width:10%;
}
#eating{
  position: fixed;
  right:78%;
  width:11%;
  bottom:50%;
}
body{
  background:#E68EDA;
}
#travel{
  position: fixed;
  width:10%;
  right:78%;
  bottom:30%;
}

